@import '../../style/variables.scss';
.text-postcardField-Config {
  color: $warning-color-card;
}
.PostcardField-bg-none {
  background-color: transparent;
  border: transparent;
}
.PostCardField-Font {
  @include menlo;
}
