@import '../../../style/variables.scss';
.ui-95 {
  @include ui95-btn;
}
.bg-comment-list-bottom-top {
  background-color: $primary-color;
}
.comment-btn-comment-list {
  @include ui95-btn;
  padding: 1px 4px;
}
.comment-list-span-position {
  margin: auto auto;
}
.CommentList-show-more-btn {
  @include ui95-btn;
  width: 70%;
  margin: auto;
  margin-top: 15px;
}
