@import '../style/variables.scss';
.modal-card-style {
  background-color: $primary-color;
}
.header-Modal {
  background-color: $top-card-color;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.text-modal-header-style {
  margin-left: 40px;
  font-size: 18px !important;
  color: white;
}
.btn-modal-95 {
  @include ui95-btn;
}
