@import '../../style/variables.scss';

.img-card-size {
  height: 35px;
}
.post-card-style {
  width: 90%;
}
.postcard-bg {
  background-color: $primary-color;
}

.top-post-card {
  background-color: $top-card-color;
}
.postcard-bottom-line {
  color: #666060;
  background-color: #666060;
  height: 0.8;
  margin: 0;
  width: 100%;
}
