@import '../../style/variables.scss';

.img-card-size {
  height: 30px;
}
.post-card-style {
  width: 90%;
}
.postcard-bg {
  background-color: $primary-color;
}

.top-post-card {
  background-color: $top-card-color;
}
