@import '../../style/variables.scss';
.postform-btn-text {
  @include font-95;
}
.postform-btn {
  height: 100%;
  cursor: pointer;
  margin: 0;
  width: 100%;
  border: none;
  background-color: transparent;
  &:hover {
    background-color: $top-card-color;
    color: white;
  }
}
.Toastify__toast--success {
  background-color: $primary-color !important;
  font-family: windows95, sans-serif !important;
  font-size: 12px !important;
  color: black !important;
}
.Toastify__toast--error {
  background-color: rgb(160, 20, 31) !important;
  font-family: windows95, sans-serif !important;
  font-size: 13px !important;
  color: rgb(255, 255, 255) !important;
}

.PostForm-container {
  background-color: $primary-color;
}

.postForm-header {
  background-image: linear-gradient(to right, $top-card-color, #0e7ccb);
}
.PostForm-Notepad {
  height: 20px;
  margin-left: 20px;
}
.PostForm-posthead-text {
  color: white;
  @include font-95;
  font-size: 11px;
}
.PostForm-file-first-letter {
  text-decoration: underline;
}
.PostForm-file-font {
  @include font-95;
  font-size: 12px;
  margin-left: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
  cursor: pointer;
}
.PostForm-DropDown-config {
  background-color: $primary-color;
  border-radius: 0;
  @include boders;
}
