@import '../../style/variables.scss';
.postform-btn-text {
  @include font-95;
}
.postform-btn {
  @include ui95-btn;
}
.Toastify__toast--success {
  background-color: $primary-color !important;
  font-family: windows95, sans-serif !important;
  font-size: 12px !important;
  color: black !important;
}
.Toastify__toast--error {
  background-color: rgb(160, 20, 31) !important;
  font-family: windows95, sans-serif !important;
  font-size: 13px !important;
  color: rgb(255, 255, 255) !important;
}
