@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

$background-color: #008080;
$primary-color: #bbb0b0;
$top-card-color: #010388;
$border-color-down: #a19d9d;
$border-color-right: #a19d9d;
$border-color-left: #f5efef;
$border-color-up: #f5efef;
$warning-color-card: red;
$warning-color: white;
$top-card-color-comment: rgb(26, 114, 73);
@mixin boders {
  border-top: $border-color-up 2px solid;
  border-bottom: $border-color-down 2px solid;
  border-left: $border-color-left 2px solid;
  border-right: $border-color-right 2px solid;
}

@mixin ui95-btn {
  color: #000;
  background-color: $primary-color;
  @include boders;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: lighten($color: $primary-color, $amount: 3%);
  }
  &:active {
    background-color: $primary-color;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }
}

@font-face {
  font-family: 'windows95';
  src: url('../../assets/fonts/ms-sans-serif.ttf');
  src: url('../../assets/fonts/w-95-sans-serif.woff') format('woff'),
    url('../../assets/fonts/w-95-sans-serif.woff2') format('woff2'),
    url('../../assets/fonts/ms-sans-serif.ttf') format('ttf');
}

@font-face {
  font-family: 'Menlo Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Menlo Regular'),
    url('../../assets/fonts/Menlo-Regular.woff') format('woff');
}

@mixin menlo {
  font-family: 'Menlo Regular';
}

.font {
  font-family: windows95, sans-serif;
  font-size: 10px;
}

@mixin font-95 {
  font-family: windows95, sans-serif;
}
@mixin font-share-tech-mono {
  font-family: 'Share Tech Mono', monospace;
}
