$background-color: #008f91;
$card-color: #bbb0b0;

@mixin ui95-btn {
  color: #000;
  background-color: $card-color;
  border-color: #f5efef;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:active {
    background-color: $card-color;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }
}

@font-face {
  font-family: 'windows95';
  src: url('../../assets/fonts/ms-sans-serif.ttf');
  src: url('../../assets/fonts/w-95-sans-serif.woff') format('woff'),
    url('../../assets/fonts/w-95-sans-serif.woff2') format('woff2'),
    url('../../assets/fonts/ms-sans-serif.ttf') format('ttf');
}

.font {
  font-family: windows95, sans-serif;
}
