@import '../../../style/variables.scss';

.comment-img {
  height: 30px;
}
.bg-commment-top {
  background-color: $top-card-color-comment;
}
.bg-card-comment {
  background-color: $primary-color;
}
.form-comment-size {
  width: 90%;
}
.margin-date-comment {
  margin-right: 50px;
}
.comment-profile-name-font-size {
  font-size: 14px;
}
.comment-commentcard-width {
  width: 98%;
  margin: auto;
}
