@import '../style/variables.scss';

.header-img-size {
  height: 30px;
}
.dropdown-header-link {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
  }
}
.font-size {
  @include font-95;
  font-size: 10px;
}
