.initial-form-input {
  width: 90%;
  margin: auto auto;
}
.initial-form-label-position {
  margin-left: 40px;
}

.initial-form-text-area {
  width: 90%;
}
.initialForm-scroll {
  overflow: scroll;
  &:hover {
    outline: none;
  }
}
-webkit-scrollbar-track {
  display: block !important;
}
