.card {
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #393939;
  border-bottom: 2px solid #393939;
  border-radius: 0;
  background: #c0c0c0;
}
.card-header {
  position: relative;
  background: #358640;
  font-size: 0.65rem;
  padding: 4px;
  color: #c9c9c9;
  border-radius: 0;
  border: 2px solid #bdbdbd;
}
.form-pic {
  float: left;
  height: 50px;
  width: 50px;
}
