@import '../style/variables.scss';

.card {
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #393939;
  border-bottom: 2px solid #393939;
  border-radius: 0;
  background: $card-color;
}
@import '../style/variables.scss';
.card-header {
  position: relative;
  background: #358640;
  font-size: 0.65rem;
  padding: 4px;
  color: #c9c9c9;
  border-radius: 0;
  border: 2px solid #bdbdbd;
}
.form-pic {
  height: 80px;
  width: 90px;
}
.initial-form-btn-save {
  @include ui95-btn;
  font-size: 10 px;
  padding: 4px 10px;
}
