@import '../../style/variables.scss';

.btn-postcard-top-size {
  height: 12px;
  margin-bottom: 5px;
}
.btn-style {
  height: 22px;
  @include ui95-btn;
}
.CardButtons-display-btn {
  display: none;
}
