@import '../../../style/variables.scss';

.readonly-commentField-input-style {
  background-color: transparent;
  border: transparent;
}
.edit-commentField-input-style {
  background-color: white;
}
.CommentField-font {
  @include menlo;
}
